fastapi==0.115.0
uvicorn==0.32.0
gunicorn==23.0.0
pydantic[email]==2.9.2
pydantic-settings==2.6.0
python-dotenv==1.0.1
sqlmodel==0.0.22
requests==2.32.3
httpx==0.27.2
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
fastapi-pagination==0.12.30
loguru==0.7.2
sentry-sdk==2.17.0

