{
  "openapi": "3.0.0",
  "info": {
    "title": "LegalIndia.ai Backend API",
    "version": "2.0.0",
    "description": "Essential API endpoints for legal AI services integration"
  },
  "servers": [
    {
      "url": "https://backend.legalindia.ai",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local development server"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health Check",
        "description": "Comprehensive health check for all subsystems",
        "operationId": "healthCheck",
        "tags": ["System"],
        "responses": {
          "200": {
            "description": "System health status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["ok", "degraded"]
                    },
                    "version": {"type": "string"},
                    "timestamp": {"type": "number"},
                    "uptime": {"type": "number"},
                    "subsystems": {
                      "type": "object",
                      "properties": {
                        "database": {
                          "type": "object",
                          "properties": {
                            "status": {"type": "string"},
                            "message": {"type": "string"}
                          }
                        },
                        "ai": {
                          "type": "object",
                          "properties": {
                            "status": {"type": "string"},
                            "message": {"type": "string"}
                          }
                        }
                      }
                    },
                    "response_time_ms": {"type": "number"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/junior": {
      "post": {
        "summary": "AI Legal Junior Assistant",
        "description": "Comprehensive legal analysis and guidance",
        "operationId": "juniorAssistant",
        "tags": ["AI Services"],
        "security": [{"ApiKeyAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query"],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Legal query or question"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Optional client identifier"
                  },
                  "context": {
                    "type": "string",
                    "description": "Optional additional context"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Legal analysis response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {"type": "string"},
                    "answer": {"type": "string"},
                    "model_used": {"type": "string"},
                    "confidence": {"type": "number"},
                    "tokens_used": {"type": "integer"}
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          },
          "504": {
            "description": "AI engine timeout"
          }
        }
      }
    },
    "/api/v1/research": {
      "post": {
        "summary": "AI Legal Research",
        "description": "Enhanced legal research with InLegalBERT + DeepSeek workflow",
        "operationId": "legalResearch",
        "tags": ["AI Services"],
        "security": [{"ApiKeyAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query"],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Legal research query"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Optional client identifier"
                  },
                  "context": {
                    "type": "string",
                    "description": "Optional additional context"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Research response with enhanced query",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {"type": "string"},
                    "enhanced_query": {"type": "string"},
                    "answer": {"type": "string"},
                    "model_used": {"type": "string"},
                    "confidence": {"type": "number"},
                    "tokens_used": {"type": "integer"}
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          },
          "500": {
            "description": "Research service error"
          }
        }
      }
    },
    "/api/v1/cases": {
      "post": {
        "summary": "Case Management (Not Implemented)",
        "description": "Placeholder endpoint - returns 501",
        "operationId": "caseManagement",
        "tags": ["Placeholder"],
        "responses": {
          "501": {
            "description": "Not implemented",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {"type": "string"},
                    "message": {"type": "string"},
                    "endpoint": {"type": "string"},
                    "note": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/property-opinion": {
      "post": {
        "summary": "Property Opinion (Not Implemented)",
        "description": "Placeholder endpoint - returns 501",
        "operationId": "propertyOpinion",
        "tags": ["Placeholder"],
        "responses": {
          "501": {
            "description": "Not implemented",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {"type": "string"},
                    "message": {"type": "string"},
                    "endpoint": {"type": "string"},
                    "note": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication"
      }
    }
  }
}

